@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  overflow-y: scroll;
}

body {
  position: absolute;
  height: auto;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header, .footer {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    height:50px;
    padding-left: 15%;
    padding-right: 15%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.hero, .information, .quote-box, .blue-box {
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.left, .right {
    display: flex;
    flex: 1;
}

.left {
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    /* margin-right: 5%; */
}

.right {
    justify-content: center;
    align-items: center;
    background-color: gray;
    /* margin-left: 5%; */
}

#mc {
    width: 100%;
}

a, p {
    /* text-decoration: none; */
    color: #e5e7eb;
    font-size: 18px;
}

button {
    color: #e5e7eb;
    font-size: 18px;
    background-color: #3882f6;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}

.information {
    flex-direction: column;
    background-color: white;
}

h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
    text-align: justify;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20%;
}

.box {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    flex-shrink: 0;
}

.borderbox {
    width:100px;
    height: 75px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #1f2937;
    padding: 10%;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    display: flex;
}

.boxes p {
    text-align: justify;
    word-wrap: normal;
}

.boxes h3 {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
}

.quote-box {
    background-color: gray;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
}

#credit {
    text-align: right;
}

.call {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.blue-box {
    width: 100%;
    height: 80%;
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.call button {
    color: #3882f6;
    font-size: 18px;
    background-color: #e5e7eb;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}

.footer {
    justify-content: center;
}